---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad]
    width: 5
    image: true
  - roles: [ugrad-alum, alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
      <b>Catalyst</b> is an interdisciplinary machine learning and systems research group
      exploring problems to automate learning systems.
      Our research spanning multiple layers of the machine learning and system stack.
    </p>
</div>

<!--
<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>
--->

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<section>
    <h2>Mission</h2>
    The rapid advance in machine learning (ML) models and ML-specific hardware makes it increasingly challenging to build efficient and scalable learning systems that can take full advantage of the performance capability of modern hardware and runtime environments.
    Today's ML systems heavily rely on human effort to optimize the design, training and deployment of ML models on specific target platforms.
    Unlike conventional application domains, learning systems need to address the continuously growing complexity and diversity
    in machine learning models, hardware backends, and runtime time environments.
    
    Our response to this unique challenge in ML systems is <b>Catalyst</b> (CMU automated learning systems lab), a joint research group
    across the area of machine learning, systems, programming languages, and computer architectures.
    Our mission is to build ML algorithms and learning systems that automate cross-stack optimizations by leveraging mathematical and statistical properties of ML computations
    and by co-designing systems, hardware, and ML algorithms.
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
