<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.asdfasdf.asdfasdf.asdfasdfads">Awesome Publication</a>.
			</span><br />
			<span class="authors">
				Author 1 and Author 2.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Awesome Research</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
