<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://tqchen.com/data/pdf/quantized-cgo20.pdf">Automating Generation of Low Precision Deep Learning Operators</a>.
			</span><br />
			<span class="authors">
				Meghan Cowan, Thierry Moreau, Tianqi Chen, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">CGO</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1805.08166">Learning to Optimize Tensor Programs</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Lianmin Zheng, Eddie Yan, Ziheng Jiang, Thierry Moreau, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1802.04799">TVM: An Automated End-to-End Optimizing Compiler for Deep Learning</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Thierry Moreau, Ziheng Jiang, Lianmin Zheng, Eddie Yan, Meghan Cowan, Haichen Shen, Leyuan Wang, Yuwei Hu, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">OSDI 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1603.02754">XGBoost: A Scalable Tree Boosting System</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen and Carlos Guestrin.
			</span><br />
			<span class="venuetype"></span><span class="venue">KDD 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1512.01274">MXNet: A Flexible and Efficient Machine Learning Library for Heterogeneous Distributed Systems</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Mu Li, Yutian Li, Min Lin, Naiyan Wang, Minjie Wang, Tianjun Xiao, Bing Xu, Chiyuan Zhang, and Zheng Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">LearningSys Workshop at Neural Information Processing Systems 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
