<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2207.04606">SparseTIR: Composable Abstractions for Sparse Compilation in Deep Learning</a>.
			</span><br />
			<span class="authors">
				Zihao Ye, Ruihang Lai, Junru Shao, Tianqi Chen, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">ASPLOS 2023</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2207.04296">TensorIR: An Abstraction for Automatic Tensorized Program Optimization</a>.
			</span><br />
			<span class="authors">
				Siyuan Feng, Bohan Hou, Hongyi Jin, Wuwei Lin, Junru Shao, Ruihang Lai, Zihao Ye, Lianmin Zheng, Cody Hao Yu, Yong Yu, and Tianqi Chen.
			</span><br />
			<span class="venuetype"></span><span class="venue">ASPLOS 2023</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2111.00655">Collage: Seamless Integration of Deep Learning Backends with Automatic Placement</a>.
			</span><br />
			<span class="authors">
				Byungsoo Jeon, Sunghyun Park, Peiyuan Liao, Sheng Xu, Tianqi Chen, and Zhihao Jia.
			</span><br />
			<span class="venuetype"></span><span class="venue">PACT 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2205.13603">Tensor Program Optimization with Probabilistic Programs</a>.
			</span><br />
			<span class="authors">
				Junru Shao, Xiyou Zhou, Siyuan Feng, Bohan Hou, Ruihang Lai, Hongyi Jin, Wuwei Lin, Masahiro Masuda, Cody Hao Yu, and Tianqi Chen.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.cs.cmu.edu/~zhihaoj2/papers/unity_osdi22.pdf">Unity: Accelerating DNN Training Through Joint Optimization of Algebraic Transformations and Parallelization</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Colin Unger, Wei Wu, Sina Lin, Mandeep Baines, Vinay Ramakrishnaiah Carlos Efrain, Nirmal Prajapati, Pat McCormick, Jamaludin Mohd-Yusof, Xi Luo, Dheevatsa Mudigere, Jongsoo Park, Misha Smelyanskiy, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">OSDI 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.cs.cmu.edu/~zhihaoj2/papers/quartz-pldi22.pdf">Quartz: Superoptimization of Quantum Circuits</a>.
			</span><br />
			<span class="authors">
				Mingkuan Xu, Zikun Li, Oded Padon, Sina Lin, Jessica Pointing, Auguste Hirth, Henry Ma, Jens Palsberg, Alex Aiken, Umut A. Acar, and Zhihao Jia.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLDI 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.cs.cmu.edu/~zhihaoj2/papers/gradsign-iclr22.pdf">GradSign: Model Performance Inference with Theoretical Insights</a>.
			</span><br />
			<span class="authors">
				Zhihao Zhang and Zhihao Jia.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICLR 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://proceedings.mlsys.org/paper/2022/file/d3d9446802a44259755d38e6d163e820-Paper.pdf">The CoRa Tensor Compiler: Compilation for Ragged Tensors with Minimal Padding</a>.
			</span><br />
			<span class="authors">
				Pratik Fegade, Tianqi Chen, Phillip B. Gibbons, and Todd C. Mowry.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://proceedings.mlsys.org/paper/2022/hash/fa7cdfad1a5aaf8370ebeda47a1ff1c3-Abstract.html">DietCode: Automatic Optimization for Dynamic Tensor Programs</a>.
			</span><br />
			<span class="authors">
				Bojian Zheng, Ziheng Jiang, Cody Hao Yu, Haichen Shen, Joshua Fromm, Yizhi Liu, Yida Wang, Luis Ceze, Tianqi Chen, and Gennady Pekhimenko.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.cs.cmu.edu/~zhihaoj2/papers/PET_OSDI21.pdf">PET: Optimizing Tensor Programs with Partially Equivalent Transformation and Automated Correction</a>.
			</span><br />
			<span class="authors">
				Haojie Wang, Jidong Zhai, Mingyu Gao, Zixuan Ma, Shizhi Tang, Liyan Zheng, Yuanzhi Li, Kaiyuan Rong, Yuanyong Chen, and Zhihao Jia.
			</span><br />
			<span class="venuetype"></span><span class="venue">OSDI 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2011.01302">IOS: Inter-Operator Scheduler for CNN Acceleration</a>.
			</span><br />
			<span class="authors">
				Yaoyao Ding, Ligeng Zhu, Zhihao Jia, Gennady Pekhimenko, and Song Han.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2011.01383">Cortex: A Compiler for Recursive Deep Learning Models</a>.
			</span><br />
			<span class="authors">
				Pratik Fegade, Tianqi Chen, Phil Gibbons, and Todd Mowry.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://cs.stanford.edu/~zhihao/papers/kdd20.pdf">Redundancy-free computation graphs for graph neural networks</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Sina Lin, Rex Ying, Jiaxuan You, Jure Leskovec, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">KDD 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://cs.stanford.edu/~zhihao/papers/mlsys20.pdf">Improving the accuracy, scalability, and performance of graph neural networks with roc</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Sina Lin, Mingyu Gao, Matei Zaharia, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://tqchen.com/data/pdf/quantized-cgo20.pdf">Automating Generation of Low Precision Deep Learning Operators</a>.
			</span><br />
			<span class="authors">
				Meghan Cowan, Thierry Moreau, Tianqi Chen, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">CGO</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://cs.stanford.edu/~zhihao/papers/sosp19.pdf">TASO: optimizing deep learning computation with automatic generation of graph substitutions</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Oded Padon, James Thomas, Todd Warszawski, Matei Zaharia, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">SOSP 2019</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1807.04188">A Hardware-Software Blueprint for Flexible Deep Learning Specialization</a>.
			</span><br />
			<span class="authors">
				Thierry Moreau, Tianqi Chen, Luis Vega, Jared Roesch, Eddie Yan, Lianmin Zheng, Josh Fromm, Ziheng Jiang, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Micro 39(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://cs.stanford.edu/~zhihao/papers/sysml19a.pdf">Beyond data and model parallelism for deep neural networks</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Matei Zaharia, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">SysML 2019</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://cs.stanford.edu/~zhihao/papers/sysml19b.pdf">Optimizing DNN Computation with Relaxed Graph Substitutions</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, James Thomas, Todd Warzawski, Mingyu Gao, Matei Zaharia, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">SysML 2019</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1805.08166">Learning to Optimize Tensor Programs</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Lianmin Zheng, Eddie Yan, Ziheng Jiang, Thierry Moreau, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1802.04799">TVM: An Automated End-to-End Optimizing Compiler for Deep Learning</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Thierry Moreau, Ziheng Jiang, Lianmin Zheng, Eddie Yan, Meghan Cowan, Haichen Shen, Leyuan Wang, Yuwei Hu, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">OSDI 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://cs.stanford.edu/~zhihao/papers/icml18.pdf">Exploring Hidden Dimensions in Accelerating Convolutional Neural Networks</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Sina Lin, Charles R. Qi, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICML 2018 (Proceedings of Machine Learning Research)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.vldb.org/pvldb/vol11/p297-jia.pdf">A Distributed Multi-GPU System for Fast Graph Processing</a>.
			</span><br />
			<span class="authors">
				Zhihao Jia, Yongkee Kwon, Galen Shipman, Pat McCormick, Mattan Erez, and Alex Aiken.
			</span><br />
			<span class="venuetype"></span><span class="venue">VLDB 11(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1603.02754">XGBoost: A Scalable Tree Boosting System</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen and Carlos Guestrin.
			</span><br />
			<span class="venuetype"></span><span class="venue">KDD 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1512.01274">MXNet: A Flexible and Efficient Machine Learning Library for Heterogeneous Distributed Systems</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Mu Li, Yutian Li, Min Lin, Naiyan Wang, Minjie Wang, Tianjun Xiao, Bing Xu, Chiyuan Zhang, and Zheng Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">LearningSys Workshop at Neural Information Processing Systems 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
